@import '../../node_modules/ol/ol.css';

.myStyle {
    color: #000;
}

.gsMap {
    width: 100%;
    height: 500px;
}


.ol-tooltip {
    position: relative;
    background: #ffcc33;
    border-radius: 4px;
    color: black;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 15px;
    }
    .ol-tooltip-measure {
    opacity: 1;
    font-weight: lighter;
    }
    
    .ol-tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
    }
    
    .ol-tooltip-measure:before,
        .ol-tooltip-static:before {
        border-top: 6px solid #ffcc33;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        content: "";
        position: absolute;
        bottom: -6px;
        margin-left: -7px;
        left: 50%;
        }
        .ol-tooltip-static:before {
        border-top-color: #ffcc33;
        }