.headerBase {
    background-color: #0384fc;
    color: #ffffff;
    font-size: 24px;
    margin: auto;
    padding: 10px 0 10px 0;
}

.headerButton {
    float: right;
    color: #ffffff !important;
}